@font-face {
    font-family: 'Inconsolata';
    src: url('../font/Inconsolata-Regular.woff') format('.woff'),
    url('../font/Inconsolata-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Italiana';
    src: url('font/Italiana-Regular.eot');
    src: local('Italiana'), local('Italiana-Regular'),
        url('Italiana-Regular.woff2') format('woff2'),
        url('Italiana-Regular.woff') format('woff'),
        url('Italiana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

/*типографика*/
nav {
    text-align: right;
}
.nav {
    text-decoration: none;
    color: black;
    padding: 16px;
    font-size: 18px;  
    margin: 10px;
}
h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: 10vw; /*для резинового текста*/
    font-weight: normal;
    letter-spacing: 5vw;
    color: #612D07;
}
h2 {
    color: black;
    font-size: 4vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
h4 {
    color: black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    margin-bottom: 20px;
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    padding: 5px;
}
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    padding: 5px;
    margin-left: 200px;
}
td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    padding: 5px;
}
.links1 {
    text-decoration: none;
    color: #612D07;
}
.nav1 {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


/*стили для блоков*/
nav {
   z-index: 20;
   background-color: white;
   margin: 10px;
}
main {
    background-color: #faf7ee;
}
/*блок обо мне*/
#about {
    position: static;
}
.heading1 {
    position: absolute;
    z-index: 12;
    left: 3%;
    right: 3%;
    overflow: hidden 
}
.about {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    max-width: 100%;
    height: 800px;
    
}
.imga {
    position: absolute;
    top: 150px;
    left: 80px;
    z-index: 10;
    max-width: 30vw;
}
.avatar {
    width: 96% ;
}
.text {
    position: absolute;
    padding: 10px;
    max-width: 45%;
    margin-top: 180px;
    margin-left: 650px;
}
.hello {
    margin-top: 20px;
    margin-bottom: 30px;
}
.dopeducation {
    margin-top: 30px;
}

/*блок навыки*/
#skils {
    position: static;
    margin: 50px;
}
.heading2 {
    text-align: center;
    margin: 50px;
}
.skils {
    display: flex;
    justify-content: space-evenly;  
}
.work {
    width: 280px;
}
.logo {
    width: 3vw;
}
.name {
    column-count: 2; /*разбить текст на колонки*/
}

 /*галерея работ*/
#galery {
    width: 100%;
}
.heading3 {
    margin-left: 80px;
}
.galery {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
}
.picture {
    object-fit: contain;
    float: none;
    width: auto;
    height: 15vw;
    padding: 6px;
}
.picture1 {
    object-fit: contain;
    float: none;
    width: auto;
    height: 15vw;
    margin: 6px;  
    box-shadow: 3px 0px 26px 12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 0px 26px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 0px 26px 12px rgba(0, 0, 0, 0.2);
}
.picture1:hover {
    transform: scale(1.2); /*увеличение без сдвига соседних*/
    transition: 1s;
    box-shadow: 3px 0px 26px 18px #e7561233;
    -webkit-box-shadow: 3px 0px 26px 18px #e7561233;
    -moz-box-shadow: 3px 0px 26px 18px #e7561233;
}

/*опыт*/
#exper {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 650px;
}
.heading4 {
    margin-left: 80px;
}
.now {
    margin: 30px;
}
table {
    border-collapse: separate;
    border-spacing: 10px 10px;
    width: 80%;
    margin-left: 100px;
    table-layout: fixed;
}
td {
    padding: 5px;
}
.future {
    margin: 30px;
    position: static;
}
.description {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}
.blok {
    width: 100px;
    height: 20px;
    background-color: #f1e6c5;
    position: relative;
    margin-left: 50px;
}
.descrip {
    position: absolute;
    left: 200px;
    width: 70%;
}
 
/*контакты*/
#contacts {
    text-align: center;
}
.contacts {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.links {
    column-count: 2;
    margin-left: 50px;
}
.logo2 {
    width: 3vw;
}
.logo2:hover {
    transform: scale(1.2); /*увеличение без сдвига соседних*/
    transition: 1s;
}

/*подвал*/
footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav1 {
    margin-right: 20px;
}

@media (min-width: 0) and (max-width: 900px) {
    .nav {
        font-size: 15px;
        padding: 12px;
        margin: 6px;
    }
    h1 {
        text-align: center;   
    }
    h4 {
        font-size: 18px;
        margin-bottom: 14px;
    }
    p {
        font-size: 14px;
        padding: 2px;
    }
    li {
        font-size: 16px;
        padding: 2px;
        margin-left: 150px;
    }
    td {
        font-size: 16px;
        padding: 2px;
    }
    .nav1 {
        font-size: 16px;
    }
    nav {
        margin: 6px;
    }
    .about {
        height: 400px;
        max-width: 100%;
        justify-content: space-around;
    }
    .imga {
        top: 90px;
        left: 40px;
    }
    .avatar {
        width: 110% ;
    }
    .text {
        padding: 8px;
        margin-top: 100px;
        margin-left: 240px;
        max-width: 50%;
    }
    .hello {
        margin-top: 15px;
        margin-bottom: 25px;
    }
    .dopeducation {
        margin-top: 25px;
    }
    #skils {
        margin: 40px;
    }
    .heading2 {
        margin: 40px;
    }
    .skils {
        justify-content: space-evenly;
    }
    .work {
        width: 240px;
    }
    #galery {
        width: 100%;
    }
    .heading3 {
        margin-left: 30px;
    }
    .galery {
        margin-top: 15px;
    }
    .picture {
        padding: 3px;
    }
    .picture1 {
        margin: 3px;
    }
    #exper {
        height: 620px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .heading4 {
        margin-left: 30px;
    }
    .now {
        margin: 10px;
    }
    table {
        border-spacing: 5px 5px;
        margin-left: 30px;
    }
    td {
        padding: 2px;
    }
    .future {
        margin: 20px;
        max-width: 100%;
    }
    .description {
        margin-top: 60px;
        max-width: 100%;
    }
    .blok {
        width: 60px;
        height: 10px;
        margin-left: 10px;
    }
    .descrip {
        left: 100px;
    }
    .contacts {
        padding: 15px;
    }
    .nav1 {
        margin-right: 15px;
    }

}    


