@import url('https://fonts.googleapis.com/css2?family=Italiana&family=Marck+Script&display=swap');

/*reset*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    height: 100%;
}

/*типографика*/
nav {
    text-align: right;
    width: 100%;
}
.nav {
    text-decoration: none;
    color: black;
    padding: 16px;
    font-size: 18px;  
    margin: 10px;
}
h1 {
    font-family: "Italiana", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 1500%;
    color: #612D07;
    letter-spacing: 50px;
}
h2 {
    color: black;
    font-size: 55px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
}
h4 {
    color: black;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    
}
p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    padding: 5px;
}
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    padding: 5px;
    margin-left: 200px;
}
td {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    padding: 5px;
}
.links1 {
    text-decoration: none;
    color: #612D07;
}
.nav1 {
    text-decoration: none;
    color: black;
    font-size: 20px;
}


/*стили для блоков*/
nav {
   background-color: white;
   margin: 10px;
}
main {
    background-color: #faf7ee;
    width: 100%;
    position: static;
}
/*блок обо мне*/
#about {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.heading1 {
    width: 80%;
    position: absolute;
    z-index: 12;
    left: 3%;
    right: 3%;    
}
.imga {
    z-index: 10;
    width: 60%;
    margin-top: 100px;
}
.avatar {
    width: 700px ;
}
.text {
    margin-top: 200px;
    padding: 10px;
    width: 70%; 
    
}
.hello {
    margin-top: 20px;
    margin-bottom: 30px;
}
.dopeducation {
    margin-top: 30px;
}

/*блок навыки*/
#skils {
    width: 100%;
    margin: 30px;
}
.heading2 {
    text-align: center;
    margin: 10px;
}
.skils {
    display: flex;
    justify-content: space-evenly;  
}
.work {
    width: 280px;
}
.logo {
    width: 55px;
}
.name {
    column-count: 2; /*разбить текст на колонки*/
}

 /*галерея работ*/
#galery {
    width: 100%;
}
.heading3 {
    margin-left: 80px;
}
.galery {
    width: 100%;
    height: auto;
    text-align: center;
    margin-top: 20px;
}
.picture {
    object-fit: contain;
    float: none;
    width: auto;
    height: 15vw;
    padding: 6px;
}
.picture1 {
    object-fit: contain;
    float: none;
    width: auto;
    height: 15vw;
    margin: 6px;  
    box-shadow: 3px 0px 26px 12px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 3px 0px 26px 12px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 3px 0px 26px 12px rgba(0, 0, 0, 0.2);
}
.picture1:hover {
    transform: scale(1.2); /*увеличение без сдвига соседних*/
    transition: 1s;
    box-shadow: 3px 0px 26px 18px #e7561233;
    -webkit-box-shadow: 3px 0px 26px 18px #e7561233;
    -moz-box-shadow: 3px 0px 26px 18px #e7561233;
}

/*опыт*/
#exper {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    
}
.heading4 {
    margin-left: 80px;
}
.now {
    margin: 30px;
}
table {
    border-collapse: separate;
    border-spacing: 10px 10px;
    width: 80%;
    margin-left: 100px;
    table-layout: fixed;
}
td {
    padding: 5px;
}
.future {
    margin: 30px;
    width: 100%;
    background-color: white;
}
.description {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
}
.blok {
    width: 100px;
    height: 20px;
    background-color: #f1e6c5;
    margin-left: 20px;
}
.descrip {
    display: inline-block;
    left: 200px;
    width: 90%;
}
 
/*контакты*/
#contacts {
    text-align: center;
}
.contacts {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.links {
    column-count: 2;
    margin-left: 50px;
}
.logo2 {
    width: 55px;
}
.logo2:hover {
    transform: scale(1.2); /*увеличение без сдвига соседних*/
    transition: 1s;
}

/*подвал*/
footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.nav1 {
    margin-right: 20px;
}

@media (min-width: 0) and (max-width: 500px) {
    nav {
        text-align: center;
    }
    .nav {
        font-size: 13px;
        padding: 5px;
        margin: 2px;    
    }
    h1 {
        font-size: 190%; 
        letter-spacing: 28px; 
        font-weight: bold; 
    }
    h2 {
        font-size: 20px;
    }
    h4 {
        font-size: 13px;
        margin-bottom: 2px;
    }
    p {
        font-size: 12px;
        padding: 2px;
    }
    .name p {
        font-size: 10px;
    }
    li {
        font-size: 12px;
        padding: 2px;
        margin-left: 20%;
    }
    td {
        font-size: 12px;
        padding: 2px;
    }
    .nav1 {
        font-size: 12px;
    }
    
    main {
        width: 100%;
    }
    .heading1 {
        width: 90%;
    }
    #about {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start ;
    }
    .imga {
        margin-top: 20px;
        width: 80%;    
    }
    .avatar {
        width:90%;
    }
    .text {
        padding: 8px;
        margin-top: 25px;
        width: 60%;
    }
    .hello {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .dopeducation {
        margin-top: 5px;
    }
    #skils {
        margin: 5px;
    }
    .heading2 {
        margin: 5px;
    }
    .skils {
        justify-content: center;
    }
    .logo {
        width: 15px;
    }
    .logo2 {
        width: 20px;
    }
    .work {
        width: 240px;
    }
    #galery {
        width: 100%;
    }
    .heading3 {
        margin-left: 30px;
    }
    .galery {
        margin-top: 15px;
    }
    .picture {
        padding: 3px;
    }
    .picture1 {
        margin: 3px;
    }
    #exper {
        margin-top: 5px;
        margin-bottom: 5px;
        width: 100%;
    }
    .heading4 {
        margin-left: 30px;
    }
    .now {
        margin: 10px;
    }
    table {
        border-spacing: 2px 2px;
        margin-left: 20px;
        width: 90%;
    }
    .td1 {
        width: 13%;
    }
    td {
        padding: 2px;
    }
    .future {
        margin: 10px;
        width: 95%;
    }
    .description {
        width: 100%;
    }
    .blok {
        width: 60px;
        height: 10px;
        margin-left: 10px;
    }
    .descrip {
        left: 100px;
    }
    .contacts {
        padding: 5px;
    }
    .nav1 {
        margin-right: 10px;
    }

    html, body {
        width: 100%;
    }
    .links {
        margin-left: 30px;
    }

}    
